.stop {
  width: 100%;
  min-width: 100%;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stop:hover {
  color: #082456;
  cursor: pointer;
}

.stop .primary {
  font-size: 1.2em;
}

.stop .meta {
  margin-left: auto;
  font-size: 0.8rem;
}
