.main {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  max-width: 100%;
  padding: 8px;
}

.intro {
  width: 100%;
  color: #eff4f6;
  background-color: #082456;
  padding: 32px 16px 16px 16px;
}

.intro h1 {
  font-size: 2em;
  padding: 8px 0px;
}
.intro p {
  padding: 4px 0px;
}
