.modal {
  padding: 8px;
  font-size: 1.1rem;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.form {
  display: flex;
  flex-direction: column;
}
.form button {
  height: 42px;
  min-width: 160px;
  border: 1px solid #234b9a;
  border-radius: 8px;
  align-self: flex-end;
  font-size: 1.2rem;
  color: white;
  background-color: #234b9a;
}
.form button:hover {
  cursor: pointer;
}

.form input {
  width: 100%;
  height: 55px;
  padding: 0 8px;
  font-size: 1.2rem;
  line-height: 1.2;
  border-radius: 4px;
  border: 1px solid black;
  margin-bottom: 8px;
}
