.main {
  min-height: 100%;
  width: 100%;
  overflow-wrap: break-word;
}

.top {
  width: 100%;
  padding: 64px 16px;
  margin-bottom: 16px;
  background-color: #082456;
  color: #eff4f6;
  font-size: 2.5em;
}

.details p {
  padding: 0px 0px 8px 16px;
  font-size: 1.6em;
}
.instructions p {
  padding: 8px 16px;
  font-size: 1.2em;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 500px;
  padding: 8px 16px;
}

form input {
  align-self: stretch;
  flex-grow: 3;
  height: 55px;
  padding: 0 8px;
  font-size: 1.2rem;
  line-height: 1.2;
  border: 1px solid #082456;
  border-radius: 4px 0px 0px 4px;
}

form button {
  align-self: flex-end;
  flex-grow: 1;
  height: 55px;
  font-size: 1.2rem;
  color: #eff4f6;
  background-color: #082456;
  border: 1px solid #082456;
  border-radius: 0px 4px 4px 0px;
}

form button:hover {
  cursor: pointer;
}

.error {
  padding-left: 16px;
  color: red;
}
